.footer__mobile{
    min-height: 300px;
    position: relative;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    // margin-top: 80%;
    background-color: rgba(0, 0, 0, 0.897);
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.footer__navigation__mobile{
    width: 100%;
    margin: 2rem 0rem;
}

.footer__title__mobile{
    display: flex;
    margin-bottom: 4.6%;
    margin-top: 2%;
    margin-left: 5%;
    justify-content: center;
    p{
        font-size: 3.5rem;
        font-family: Helvetica-light;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 1px;
        color: #ffffff;
    }
    img{
        height: 28%;
        width: 28%;
    }
}
.footer__content__mobile{
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 2%;
    justify-content: center;
    display: flex;
    width: 90%;
    .footer__content__mobile1{
        display: flex;    //if you want the columns in one side
        flex-direction: column;
        width: 50%;
    }

    .footer__content__mobile2{
        display: flex;    //if you want the columns in one side
        flex-direction: column;
        margin-left: 4%;
    }
}

.footer__content__item__mobile {
    text-align: left;
    margin-bottom: 15%;
    a{
        font-family: Helvetica-regular;
        font-size: 5.1vw;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 1px;
        color: #ffffff;
    }
    ul{
        margin-top: 1%;
        list-style: none;
        padding: 0;
        text-align: left;
        font-size: 20px;
        margin-bottom: 10%;
    }
    li{
        margin-bottom: 2%;
        a{
            text-decoration:none;
            font-size: 3.8vw;
            font-family: Helvetica-light;
            //font-size: 20px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #d1d1d1;
        }
    }
}

.footer__bottom__mobile{
    //font-size: 14px;
    // height: 100%;
    display: flex;
    position: absolute;
    // top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    // min-height: 15%;
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    text-align: right;
    padding: 0 1.5rem;
    align-content: center;
    // background-color: red;
    .footer__spacer__mobile{
        flex: 1;
    }
    .copyright__mobile{
        color: #d1d1d1;
        font-family: Helvetica-light;
        // margin-top: 2.6%;
        //margin-right: 2.5%;
        padding: 1rem 0;
        width: 100%;
        font-size: 3vw;
    }
}

.footer__media__mobile{
    margin-top: 15px;
    //margin-left: -7%;
    display: flex;
    width: 100%;
    // background-color: red;
    img{
        margin-left: -10%;
    }
    #img0{
        height: 40px;
        width: 40px;
    }
    #img1{
        height: 40px;
        width: 40px;
    }
    #img2{
        height: 40px;
        width: 50px;
    }
    a{
        display: inline-block;
        margin: 5%;
    }
}



