.footer{
    min-height: 300px;
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.897);
    color: black;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.footer__navigation{
    width: 100%;
    margin: 2rem 0rem;
}

.footer__title{
    display: flex;
    margin-bottom: 2.6%;
    margin-top: 1.6%;
    justify-content: center;
    p{
        font-size: 1.5rem;
        font-family: Helvetica-light;
        font-size: 2vw;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 1px;
        color: #ffffff;
    }
    // img{
    //     position: absolute;
    //     height: auto;
    //     width: 10%;
    // }
}

.footer__content{
    display: flex;    //if you want the columns in one side
    justify-content: center;
    margin-left: 10%;
    //margin-right: 10%;
    //margin-top: 7%;
}

.footer__content__item {
    text-align: left;
    margin: 0 auto;
    //font-family: 'Muli', Avenir, Helvetica Neue, Helvetica, sans-serif;
}

.footer__content__item a{
    font-size: 1.5rem;
    font-family: Helvetica-regular;
    font-size: 1.8vw;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1px;
    color: #ffffff;
}

.footer__content__item ul{
    list-style: none;
    padding: 0;
    text-align: left;
    font-size: 20px;
}

.footer__content__item li{

    a {
        text-decoration:none;
        margin-bottom: 10px;
        font-size: 1.1vw;
        font-family: Helvetica-light;
        //font-size: 20px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #ffffff;
    }
}

.footer__bottom{
    //font-size: 14px;
    display: flex;
    margin-top: 70px;
    min-height: 35%;
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    .footer__spacer{
        flex: 1;
    }
    
    .copyright{
        font-family: Helvetica-light;
        color: #ffffff;
        margin-top: 1.6%;
        margin-right: 2.5%;
        //padding: 0 2rem;
        font-size: 1.2rem;
    }
}

.footer__media{
    //flex-grow: .5;
    //height: 100%;
    //padding: 0 10rem;
    margin-top: 15px;
    margin-left: -8px;
    img{
        width: 30px;
        height: 30px;
    }
    
    a{
        display: inline-block;
        margin: 10px;
    }
    .youtube__icon{
        width: 23%;
        height: 20%;
    }
}



