.headerMobileBase{
    position: absolute;
    // background-color: red;
    // width: 100%;

    top: 0;
    // bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;

}
.headerMobile{
    //z-index: 5;
    // overflow: hidden;
    width: 100%;
    position: fixed;    //if we change position we can make the toolbar separated from the landing, use static
    // background-color: #00000070;
    background-color: #00000075;
    background: 'transparent';
    // height: 9%;
    height: 11%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    //overflow: auto;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    transition: all ease-in-out .5s;
}
.headerScrollMobile{
    // overflow: hidden;
    //z-index: 5;
    width: 100%;
    // height: 100%;
    position: fixed;    //if we change position we can make the toolbar separated from the landing, use static
    background-color: #00000075;
    height: 11%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    //overflow: hidden;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    transition: all ease-in-out .5s;

}

.inactive {
    transition: all 1s ease;
}

.menuMobile {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.headerMobile__navigation {
    display: flex;
    align-items: center;
    padding-top: 5.3%;
    padding-left: 1.6%;
    padding-right: 1.6%;
    width: 100%;
    z-index: 2;
    position: absolute;
    .logoMobile__wrapper {
        justify-content: left;
        padding: 1rem 1rem;
        width: 30%;
        // background-color: brown;
        .logoMobile__top{
            width: 100%;
        }
    }
    .header__spacer {
        flex: 1;
    }
    .header__navlinks {
        padding-right: 3.5%;
            .links__wrapper{
                display: flex;
                a {
                    text-decoration: none;
                    color: black;
                    font-size: 3.8vw;
                }
                .link__separator {
                    color: rgba(255, 255, 255, 0);
                    background-color: black;
                    padding-top: 0.4rem;
                    width: 1px;
                    border-color: black;
                    border-width: 2px;
                }
                .link1 {
                    display: inline-block;
                    //padding-left: 1%;
                    //padding: 0 0.5rem;
                    padding-left: 1rem;
                    padding-right: 1rem;
                }
                .link1:hover {
                    cursor: pointer;
                }
                .link3 {
                    display: inline-block;
                    font-family: Helvetica-bold;
                    font-weight: 100;
                    letter-spacing: 0.5px;
                    //padding-left: 1%;
                    padding: 0 1rem;
                    button:focus{
                        outline: 0
                    }
                    button:hover{
                        cursor: pointer;
                    }
                    button{
                        color: rgb(0, 0, 0);
                        font-family: Helvetica-bold;
                        font-weight: 100;
                        letter-spacing: 0.5px;
                        font-size: 1vw;
                        //padding-left: 1%;
                        //padding: 0 2rem;
                        background: none;
                        border: none;
                    }             
                    
                }
                .link4 {
                    display: inline-block;
                    //padding-left: 1%;
                    padding-left: 1rem;
                }
            }

    }
}
