    .shoppingCart{
        z-index: 5;
        position: fixed;
        right: 0;
        top: 0;
        bottom: 0;
        width: 30%;
        height: 100%;
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 2px 5px rgba(107, 107, 107, 0.459);
        .contentWrapper{
            position: relative;
            margin-top: 15%;
            padding: 1vw 1vw;
            overflow-y: scroll;
            // background-color: red;
            height: 80%;
        }
        .itemCard{
            border-style: solid;
            border-width: 1px;
            border-color: black;
            padding: 1vw 1vw;
        }
        .buttonContainer{
            padding: 1vw 1vw;
            button:hover{
                cursor: pointer;
            }
            button:focus{
                outline: 0;
            }
            button{
                padding: 1vw 1vw;
                width: 100%;
                color: white;
                font-size: 1vw;
                background-color: black;
                
            }
        }
    }
