.componentMailchimpMobile{
    display: flex;
    flex-direction: column;
    // height: 100%;
    position: absolute;
    z-index: 10;
    width: 100%;
    align-items: center;
}
.messageAlertMobile{
    margin-top: 60%;
    font-size: 4.3vw;
    position: absolute;
    // margin: 0 center;
    // width: 100%;
    .loadingMobile{
        color: white;
        margin-top: 5%;
        // margin-bottom: -60%;
    }
    .dangerMobile{
        margin-top: 2%;
        color: rgb(255, 77, 77);
        // margin-bottom: -30%;
    }
    .sucessMobile{
        margin-top: 2%;
        color: rgba(112, 209, 74, 0.918);
        // margin-bottom: -30%;
    }
}
.newsLetterSubtitleMobile{
    width: 100%;
    margin-top: 1%;
    text-align: center;
    color: white;
    // background-color: red;
    padding: 0 .5rem;
    p {
        font-family: Helvetica-regular;
        font-size: 4vw;
        display: inline;
        //letter-spacing: 1%;
        letter-spacing: 0.2px;
    }
    #boldMobile {
        font-family: Helvetica-bold;
        font-size: 4vw;
        letter-spacing: 0.2px;
    }   
    .subtitleMobile {
        margin-top: 0.8%;
    }
}
.subscribeInputMobile{
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    // background-color: red;
    display: flex;
    justify-content: center;
    margin-top: 10%;
    .inputGroupMobile{
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
        margin: 0 center;
        width: 80%;
       
        input{
            width: 80%;
            padding: 1rem 1rem;
            background-color: rgba(110, 110, 110, 0.116);
            border-style: solid;
            border-width: 1px;
            border-radius: 10px;
            border-color: white;
            // border-style: solid;
            // border-width: 1px;
            // border-top-left-radius: 10px;
            // border-bottom-left-radius: 10px;
            color: white;
            // border: none;
            margin-bottom: 5%;
            border-color: white;
            font-size: 4vw;
            letter-spacing: 2px;
        }
        input:focus{
            outline: 0;
        }
        button{
            width: 50%;
            color: white;
            background-color: rgba(100, 100, 100, 0.541);
            border-style: solid;
            border-width: 1px;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            border-left-color: transparent;
            border-top-color: transparent;
            border-bottom-color: transparent;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            border-color: white;
            padding: 1rem 1rem;
            font-size: 3vw;
            font-family: Nepos;
            letter-spacing: 1.1px;
        }
        button:hover{
            cursor: pointer;
        }
        button:focus{
            outline: 0;
        }
       
    }
}