.productViewer{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.categoryHeader{
    width: 100%;
    height: 100%;
    // overflow: hidden;
    overflow-y: scroll;
    -webkit-backface-visibility: hidden;
    -webkit-transition: 1s ease-in-out;
    .categoriesWrapper {
        overflow: hidden;
        background-color: rgb(255, 255, 255);
        margin-right: auto;
        margin-left: auto;
        margin-top: 5%;       
        margin-bottom: auto;         
        width: 100%;
        // height: 95%;
        .categories{
            margin-top: 5%;
            right: 0;
            left: 0;
            margin-right: auto;
            margin-left: auto;
            display: block;
            height: 100%;
            width: 85%;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: space-between;

            .category{
                border-style: solid;
                border-width: 1px;
                border-color: black;
                width: 350px;
                height: 350px;
                margin-bottom: 2%;
                // margin-right: 1%;
                align-content: center;
                text-align: center;
                background-size: cover;
                .categoryTitle{
                    background-color: rgba(0, 0, 0, 0.308);
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    vertical-align: middle;
                    align-items: center;
                    color: white;
                    font-family: Helvetica-regular;
                    font-size: 2vw;
                }
            }
            .category:hover{
                cursor: pointer;
            }
        }
    }
}