.home{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

// .home{
//     position: absolute;
//     //background-color: #dc4040;
//     /*top: 0;
//     bottom: 0;
//     left: 0;
//     right: 0;*/
//     width: 100%;
//     height: 100%;
//     //overflow: auto;
//     -webkit-user-select: none; /* Safari */        
//     -moz-user-select: none; /* Firefox */
//     -ms-user-select: none; /* IE10+/Edge */
//     user-select: none; /* Standard */
//         //font-family: 'Muli', Avenir, Helvetica Neue, Helvetica, sans-serif;
// }

.homeHeader{
    width: 100%;
    height: 100%;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    -webkit-transition: 1s ease-in-out;
    .categoriesWrapper {
        background-size: cover;
        overflow: hidden;
        background-color: rgb(255, 255, 255);
        margin-right: auto;
        margin-left: auto;
        margin-top: 5%;       
        margin-bottom: auto;         
        width: 100%;
        height: 95%;
        .categories{
            margin-top: 5%;
            right: 0;
            left: 0;
            margin-right: auto;
            margin-left: auto;
            display: block;
            height: 100%;
            width: 85%;
            display: flex;
            flex-direction: column;
            // justify-content: space-between;
            text-align: center;
            color: white;
            
            .title {
                margin-top: 15%;
                h2{
                    font-weight: 100;
                    font-family: Helvetica-regular;
                    font-size: 320%;
                    display: inline;
                    letter-spacing: 0.7px;
                    //line-height: 10%;
                }
            }
            .subtitle {
                margin-top: 5%;
                p{
                    font-weight: 100;
                    font-family: Helvetica-bold;
                    font-size: 190%;
                    display: inline;
                    letter-spacing: 0.7px;
                    //line-height: 10%;
                }
            }
            .buttonWrapper{
                margin-top: 5%;
                a {
                    text-decoration: none;
                    color: rgb(255, 255, 255);
                    font-size: 1vw;
                }
                button{
                    // margin-top: -2%;
                    margin-bottom: 2%;
                    font-family: 'MuliBold', Avenir, Helvetica Neue, Helvetica, sans-serif;
                    font-weight: bold;
                    box-sizing: border-box;
                    padding: 0.85rem 1rem;
                    font-size: 16px;
                    border-radius: 8px;
                    transition-duration: 0.4s;
                    color: white;
                    display: inline-block;
                    width: 150px;
                    border: 0;
                    position: relative;
                    background-color: #DC4040;
                }
            }
            

        }
        // -webkit-transition: opacity 1s ease-in-out;
        // -moz-transition: opacity 1s ease-in-out;
        // -o-transition: opacity 1s ease-in-out;
        // transition: opacity 1s ease-in-out;
        // opacity: 1;
        // -webkit-transition: opacity 4s ease;
        
        #imageCover{
            position: absolute;
            width: 100%;
            height: auto;
            -webkit-transition: opacity 1.5s ease;
            -moz-transition: opacity 1.5s ease;
            -o-transition: opacity 1.5s ease;
            transition: opacity 1.5s ease;
            opacity: 1;
        }
        
        #imageBottom{
            width: 100%;
            height: auto;
            opacity: 0;
            position: absolute;
            -webkit-transition: opacity 1s linear;
            -moz-transition: opacity 1s linear;
            -o-transition: opacity 1s linear;
            transition: opacity 1s linear;
        }
        

    }
    .logoLanding{
        // margin-top: 2%;
        width: 100%;
        height: 10%;
        background-color: rgba(0, 0, 0, 0.897);
        justify-content: center;

        img{
            padding-top: .8%;
            padding-bottom: 1%;
            display: block;
            margin-left: auto;
            margin-right: auto;
            height: 70%;
            width: auto;
        }
    }

    .home__header__container {
        width: 100%;
        z-index: 0;
    }

    .text__wrapper{
        //width: 51.7%;
        //max-width: 1000px;
        text-align: center;
        margin-top: 20.5%;
        margin-left: 9.9%;
        margin-right: 8.4%;
        margin-bottom: 10.7%;
        color: white;
        .red__text{
            color:#dc4040;
            display: inline;
        }
        .header__title {
            .title {
                margin-top: -0.001%;
            }
            h2{
                font-weight: 100;
                font-family: Quadraat;
                font-size: 190%;
                display: inline;
                letter-spacing: 0.7px;
                //line-height: 10%;
            }
            
        }
        .header__subtitle {
            p {
                font-family: Helvetica-regular;
                font-size: 70%;
                display: inline;
                //letter-spacing: 1%;
                line-height: 1%;
                letter-spacing: 0.2px;
            }
         #bold {
            font-family: Helvetica-bold;
            font-size: 70%;
            letter-spacing: 0.2px;
         }   
            .subtitle {
                margin-top: -0.05%;
            }
        }
    }
    
}


.appPromo__container {
    background-color: white;
    justify-content: center;
}

.home__container{
    width: 100%;
    //min-height: 1000px;
    overflow: hidden;
    justify-content: center;
    text-align: center;
    padding-bottom: 5%;
    .infografia{
        margin-top: -8%;
        height: 40%;
    }
    .content__titlee {
        //margin-left: 30%;
        margin-top: -4%;
        // margin-bottom: 1%;
        //margin-right: 35.5%;
        //max-width: 400px;
        position: relative;
        p{
            display: inline;
            //object-fit: contain;
            font-family: Helvetica-regular;
            color: black;
            font-size: 1.5vw;
        }
        #bold {
            display: inline;
            font-family: Helvetica-bold;
        }
    }
}

.newsletterCallToAction{
    overflow: hidden;
    height: 90%;
    position: relative;
    background-size: cover;
    // justify-items: center;
    .newsLetterTitle{
        margin: 0 auto;
        color: black;
        width: 100%;
        text-align: center;
        font-family: Helvetica-light;
        font-size: 1.8vw;
        line-height: 50%;
        margin-top: 10%;
        // margin-bottom: 5%;
    }
    .newsLetterInput{
        // background-color: red;
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
        // align-items: center;
        margin-bottom: 20%;
    }
    .newsLetterInputError{
        text-align: center;
        color: rgb(214, 85, 85);
        font-family: Helvetica-bold;
        padding-top: 1rem;
        font-size: 1vw;
    }
    .newsLetterInputSent{
        text-align: center;
        color: black;
        font-family: Helvetica-bold;
        padding-top: 1rem;
        font-size: 1vw;
    }
    .newsLetterSubtitle{
        margin-bottom: 2%;
        text-align: center;
        color: black;
        // background-color: red;
        //padding: 1rem 0;
        p {
            font-family: Helvetica-regular;
            font-size: 1.3vw;
            display: inline;
            //letter-spacing: 1%;
            line-height: 1%;
            letter-spacing: 0.2px;
        }
        #bold {
            font-family: Helvetica-bold;
            font-size: 70%;
            letter-spacing: 0.2px;
        }   
        .subtitle {
            // margin-top: -0.03%;
        }
    }
    .downloadAppIcons{
        width: 13%;
        color: white;
        display: flex;
        flex-direction: column;
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 3rem 3rem;
        img{
            width: 100%;
        }
    }
    .socialMediaIcons{
        color: white;
        display: flex;
        flex-direction: row;
        // position: absolute;
        bottom: 0;
        right: 0;
        padding: 2rem 2rem;
        justify-content: space-between;
        // background-color: red;
        width: 15%;
        height: 8%;
        margin-bottom: 1%;
        margin-left: 41%;
        img{
            height: auto;
            width: auto;
        }
        #insta{
            width: 50px;
            height: 50px;
        }
       #fb{
        width: 50px;
        height: 50px;
       } 
       #ytb{
        width: 80px;
        height: 50px;
       }
    }
}