.login {
    position: absolute;
    font-family: 'Muli', Avenir, Helvetica Neue, Helvetica, sans-serif;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-size: cover;
    .login__wrapper {
        overflow: hidden;
        background-size: cover;
        height: 100%;
        width: 100%;
        justify-content: center;
        .dialog__input {
            align-content: center;        
        }
    }
}

.login__dialog{
    max-width: 390px;
    width: 100%;
    height: auto;
    background: #fff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.507);
    border-radius: 10px;
    box-sizing: border-box;
    position: relative;
    margin-top: 6%;
    margin-bottom: 6%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-75%);
}

.login__dialog__wrapper{
    max-width: 280px;
    margin: 0 auto;
    padding: 20px 0px;
    font-family: 'Muli', Avenir, Helvetica Neue, Helvetica, sans-serif;
    text-align: center;
    overflow: hidden;
    width: 100%;
    #logo{
        width: 60%;
        height: auto;
        justify-content: center;
        align-content: center;
        margin-top: 10px;
    }
}

.login__input {
    h4{
        margin-top: 5px;
        margin-bottom: 8px;
        font-family: Helvetica-light;
        font-size: 1.5vw;
        padding: 0 0;
    }

    .input__wrapper {
        margin-bottom: 40px;
        a {
            font-size: 14px;
        }
    }
}



.login__input form{
    text-align: left;
}

.login__input input{
    text-align: left;
    width: 100%;
    padding: 10px 20px;
    border-radius: 4px;
    box-sizing: border-box;
    border: 1px solid grey;
    font-size: 16px;

    border-left: 3px solid;
    border-radius: 5px;
    transition: border-color .5s ease-out;
    border-left-color: salmon;

    margin-top: 10px;
}

.login__input input:focus{
    outline: none;
}
.login__input input.error {
    border-left-color: salmon;
}
.login__input input.correct {
    border-left-color: green;
}

.errorMessage {
    font-size: 12px;
    color: salmon;
    position: absolute;
    max-width: 290px;
}

.login__input{
    font-size: 16px;
}

.login__phoneInput{
    width: 100%;
    position: relative;
    margin-top: 60px;
    margin-bottom: 20px;
}

.login__phoneInput input{
    border: 1px solid grey;
    height: 40px;
}

.login button{
    margin-top: -2%;
    margin-bottom: 2%;
    font-family: 'MuliBold', Avenir, Helvetica Neue, Helvetica, sans-serif;
    font-weight: bold;
    box-sizing: border-box;
    padding: 0.85rem 1rem;
    font-size: 16px;
    border-radius: 8px;
    transition-duration: 0.4s;
    color: white;
    display: inline-block;
    width: 50%;
    border: 0;
    position: relative;
    background-color: #DC4040;
}

.login button:disabled {
    background-color: rgb(142, 142, 142);
}