.policy{
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
}

.policy__wrapper {
    height: auto;
    width: 100%;
    .spacer {
        // margin-top: 1%;
        //margin-bottom: -2%;
        // border: 1px solid rgb(0, 0, 0);
    }
    .headerTop{
        background-color: rgba(0, 0, 0, 0.897);
        // height: 100%;
        .logo__top {
            padding: .8rem 0;
            position: relative;
            width: 6.9%;
            height: 9.7%;
            // margin-top: 1.7%;
            display: block;
            margin-left: auto;
            margin-right: auto;
            object-fit: contain;
        }
    }
    

    .policy__content{   
        position: relative;
        text-align: left;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 8%;
        margin-bottom: 15%;

        #title{
            margin-bottom: -2%;
        }
        h2 {
            object-fit: contain;
            font-family: Helvetica;
            font-size: 1.5vw;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
        }
        h3 {
            padding-top: 2%;
            object-fit: contain;
            font-family: Helvetica;
            font-size: 1.5vw;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
        }   
        p {
            margin-top: -1%;
            object-fit: contain;
            font-family: Helvetica;
            font-size: 1.2vw;
            //font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
        }  

        .paragraph {
            margin-bottom: -2%;
            h4 {
                font-size: 98%;
                display: inline;
                font-style: oblique;
            }
            .sub-paragraph{
                margin-top: -1%;
                margin-left: 2%;
            }
        } 
        
    }
}