.legal__mobile{
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    overflow-y: scroll;
}



.legal__wrapper__mobile {
    position: relative;
    height: auto;
    width: 100%;
    // .spacer {
    //     //margin-top: -5%;
    //     //margin-bottom: -2%;
    //     border: 1.5px solid  rgba(0, 0, 0, 0.897);
    // }
    .header_top_mobile{
        background-color: rgba(0, 0, 0, 0.897);
        height: 100%;
        .logo__top__mobile {
            position: relative;
            width: 15.9%;
            height: 10.7%;
            margin-top: 0%;
            // margin-left: auto;
            // margin-right: auto;
            padding: .8rem 0;
            top: 0;
            left: 0;
            right: 0;
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 2%;
            object-fit: contain;
        }
    }
    

    .legal__content__mobile{   
        position: relative;
        text-align: left;
        margin-left: 10%;
        margin-right: 10%;
        // margisn-top: 8%;
        margin-bottom: 15%;

        #title__mobile{
            margin-bottom: -2%;
        }
        h2 {
            object-fit: contain;
            font-family: Helvetica;
            font-size: 5vw;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
        }
        h3 {
            padding-top: 2%;
            object-fit: contain;
            font-family: Helvetica;
            font-size: 4vw;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
        }   
        p {
            margin-top: -4%;
            object-fit: contain;
            font-family: Helvetica;
            font-size: 4vw;
            //font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
        }  

        .paragraph__mobile {
            margin-bottom: -1%;
            h4 {
                font-size: 98%;
                display: inline;
                font-style: oblique;
            }
            .sub-paragraph__mobile{
                margin-top: -2%;
                margin-left: 2%;
            }
        }
    }
}