.shippingPage{
    z-index: 5;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 2px 5px rgba(107, 107, 107, 0.459);
    align-content: center;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .logo__wrapper {
        // background-color: red;
        width: 10%;
        position: fixed;
        margin-top: 1%;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        top: 0;
        display: block;
        // float: center;
        justify-content: center;
        // padding-top: 0.2%;
        .logo__top{
            width: 8.3vw;
        }
    }
    .contentWrapper{
        width: 60%;
        // position: relative;
        // margin-top: 15%;
        padding: 1vw 1vw;
        overflow-y: scroll;
        // background-color: red;
        height: 80%;
        
    }
    .itemCard{
        text-align: left;
        border-style: solid;
        border-width: 1px;
        border-color: black;
        padding: 1vw 1vw;
        height: 15%;
    }
    .shippingContainer{
        border-top-style: solid;
        border-top-width: 1px;
        border-top-color: black;
        width: 60%;
        height: 60%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 1vw 1vw;
        justify-items: center;
        .inputsContainer{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 1vw 1vw;
            // background-color: red;
            .inputsLeft{
                width: 40%;
            }
            .inputsRight{
                width: 40%;
                justify-items: center;
            }
            .inputContainer{
                // width: 90%;
                font-size: 1vw;
                padding: .5vw .5vw;
                margin-bottom: 5%;
                .selector{
                    // width: 100%;
                    border-style: solid;
                    border-color: rgba(0, 0, 0, 0.603);
                    border-width: 1px;
                    border-radius: 5px;
                }
                input{
                    width: 95%;
                    border-radius: 5px;
                    border-style: solid;
                    border-color: rgba(0, 0, 0, 0.603);
                    border-width: 1px;
                    font-size: 1vw;
                    padding: .5vw .5vw;
                }
            }
        }
        .checkoutInfo{
            text-align: left;
            width: 60%;
        }
        button:hover{
            cursor: pointer;
        }
        button:focus{
            outline: 0;
        }
        button{
            padding: 1vw 1vw;
            width: 30%;
            color: white;
            font-size: 1vw;
            background-color: black;
            
        }
    }
}
