.signModalWeb{
    //position: absolute;
    position: fixed;
    //overflow-y: hidden;
    background-size: cover;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    //overflow: auto;
    // background-color: rgba(44, 44, 44, 0.747);
    z-index: 10!important;
    transition-duration: 1s;
    
    .signModalBackground{
        position: absolute;
        background-color: rgba(44, 44, 44, 0.747);
        width: 100%;
        height: 100%;
        z-index: 9!important;
        color: transparent;
    }
    .signModalWrapper{
        position: absolute;
        z-index: 10;
        margin-left: 37.5%;
        margin-right: 37.5%;
        margin-top: 10%;
        margin-bottom: 10%;
        height: 33%;
        width: 25%;
        transition-duration: 1s;
    }
    .createModalWrapper{    
        position: absolute;
        z-index: 10;
        margin-left: 37.5%;
        margin-right: 37.5%;
        margin-top: 15%;
        margin-bottom: 10%;
        height: 33%;
        width: 27%;
        transition-duration: 1s;
    }
    .signModalWrapperTallWeb{
        position: absolute;
        z-index: 10;
        margin-left: 37.5%;
        margin-right: 37.5%;
        margin-top: 8%;
        //margin-bottom: 10%;
        height: auto;
        width: 25%;
        transition-duration: 1s;
    }
        #recoveryBackButton{
            position: absolute;
            z-index: 11;
            margin-top: 4%;
            margin-left: 3%;
            float: left;
            width: 12%;
            background: none;
            border: none;
            img{
                width: 100%;
            }
        }
        #recoveryBackButton:hover{
            cursor: pointer;
        }
        #dismiss:hover{
            cursor: pointer;
        }
        #dismiss:focus{
            outline: 0;
        }
        #dismiss{
            //padding: 2rem 2rem;
            position: absolute;
            z-index: 21;
            margin-top: 4%;
            margin-left: 3%;
            float: left;
            width: 10%;
            background: none;
            border: none;
            img{
                width: 100%;
            }
        }

        .signModalContainer{
            border-radius: 10px;
            padding: 3rem 1rem;
            height: auto;
            width: 100%;
            background-color: rgb(255, 255, 255);
            box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.507);
            justify-content: center;
            text-align: center;
            position: absolute;
            z-index: 20!important;
            .recoveryText{
                padding-bottom: 1rem;
                margin-top: -1%;
            }
            .modalInputs{
                display: flex;
                flex-direction: column;
                padding: 0 4rem;
                .facebookContainer{
                    text-align: center;
                    margin-top: 5%;
                    border-top-color: rgba(0, 0, 0, 0.178);
                    border-top-style: solid;
                    border-width: 1px;
                    button:focus{
                        outline: 0;
                    }
                    button:hover{
                        cursor: pointer;
                    }
                    button{
                        margin-top: 5%;
                        margin-bottom: 5px;
                        font-family: 'MuliBold', Avenir, Helvetica Neue, Helvetica, sans-serif;
                        font-weight: bold;
                        box-sizing: border-box;
                        padding: 1rem 3rem;
                        font-size: .8vw;
                        border-radius: 5px;
                        transition-duration: 0.4s;
                        color: white;
                        display: inline-block;
                        width: 65%;
                        border: 0;
                        position: relative;
                    }
                    .facebookButton{
                        background-color: rgb(60, 91, 150);
                    }
                    .fa {
                        position: absolute;
                        content: ' ';
                        width: 20px;
                        height: 15px;
                        left: 20px;
                        top: 0;
                        bottom: 0;
                        margin: auto;
                        background-size: contain;
                        background-repeat: no-repeat;
                        background-position: center;
                    }
                    .emailButton{
                        background-color: #DC4040;
                    }
                }
                .recuperarPassword{
                    padding: 1rem 0;
                    font-size: 1vw;
                    font-family: Helvetica-light;
                    color: rgb(235, 74, 57);
                }
                .recuperarPassword:hover{
                    cursor: pointer;
                }
                .modalInputContainer{
                    margin-bottom: 2%;
                    display:flex;
                    flex-direction: column;
                    text-align: left;
                    //text-align: left;
                    #birthday{
                        margin-top: 4%;
                    }
                    input:focus{
                        outline: 0;
                        box-shadow: 0px 2px 4px rgba(105, 105, 105, 0.507);
                    }
                    input{
                        font-family: Helvetica-light;
                        text-align: left;
                        width: 100%;
                        padding: 0.5rem 1rem;
                        border-radius: 4px;
                        box-sizing: border-box;
                        border: 1px solid rgb(170, 170, 170);
                        font-size: 1.2vw;
                        border-left: 3px solid;
                        border-radius: 5px;
                        transition: border-color .5s ease-out;
                        border-left-color: grey;
                        //margin-top: 10px;
                        margin-top: 2%;
                    }
                    .validInput{
                        border-left-color: green;
                    }
                    .invalidInput{
                        border-left-color: salmon;
                    }
                    .valid{
                        display: none;
                    }
                    .invalid{
                        color: salmon;
                        padding-top: 0.5rem;
                        font-size: 1vw;
                    }
                }
                .birthdayContainer{
                    margin-bottom: 2%;
                    margin-top: 2%;
                    width: 100%;
                    display:flex;
                    flex-direction: row;
                    justify-content: space-between;
                    font-size: 0.9vw;
                    transition-duration: 1s;

                    // .selectorBirthday{
                    //     top: auto!important;
                    //     bottom: 100%!important;

                    // }
                    #daySelector{
                        
                        width: 32%;
                        
                    }
                    #monthSelector{
                        width: 33%;

                    }
                    #yearSelector{
                        width: 32%;

                    }
                    //text-align: left;
                }
            }
            p{
                font-family: Helvetica-light;
                font-size: 1.8vw;
                padding: 0 0;
            }
            a{
                font-size: 1.1vw;
                font-family: Helvetica-light;
            }
            .signUpButtonContainer{
                button:focus{
                    outline: 0;
                }
                button:hover{
                    cursor: pointer;
                }
                button:disabled{
                    background-color: gray;
                }
                button{
                    margin-top: 4%;
                    margin-bottom: 5px;
                    font-family: 'MuliBold', Avenir, Helvetica Neue, Helvetica, sans-serif;
                    font-weight: bold;
                    box-sizing: border-box;
                    padding: 1rem 3rem;
                    font-size: 1vw;
                    border-radius: 5px;
                    transition-duration: 0.4s;
                    color: white;
                    background-color: #DC4040;
                    display: inline-block;
                    width: 80%;
                    border: 0;
                    position: relative;
                }
            }
            .signModalButtonsContainer{
                text-align: center;
                margin-top: 5%;
                button:focus{
                    outline: 0;
                }
                button:hover{
                    cursor: pointer;
                }
                button{
                    margin-top: 2%;
                    margin-bottom: 5px;
                    font-family: 'MuliBold', Avenir, Helvetica Neue, Helvetica, sans-serif;
                    font-weight: bold;
                    box-sizing: border-box;
                    padding: 1rem 3rem;
                    font-size: 1vw;
                    border-radius: 5px;
                    transition-duration: 0.4s;
                    color: white;
                    display: inline-block;
                    width: 70%;
                    border: 0;
                    position: relative;
                }
                .facebookButton{
                    background-color: rgb(60, 91, 150);
                }
                .fa {
                    position: absolute;
                    content: ' ';
                    width: 20px;
                    height: 15px;
                    left: 20px;
                    top: 0;
                    bottom: 0;
                    margin: auto;
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                }
                .emailButton{
                    background-color: #DC4040;
                }
            }
            .signModalLogIn{
                width: 100%;
                margin-top: 8%;
                display: flex;
                flex-direction: row;
                justify-content: center;
                button:hover{
                    cursor: pointer;
                }
                button:focus{
                    outline: 0;
                }
                button{
                    font-family: 'MuliBold', Avenir, Helvetica Neue, Helvetica, sans-serif;
                    font-weight: bold;
                    box-sizing: border-box;
                    padding: 0.5rem 1rem;
                    font-size: 1vw;
                    border-radius: 5px;
                    transition-duration: 0.4s;
                    color: #DC4040;
                    border: 0;
                    position: relative;
                }
            } 
            .signModalWelcome{
                height: auto;
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: center;
                .buttonModalWelcome{
                    width: 100%;
                    button:focus{
                        outline: 0;
                    }
                    button:hover{
                        cursor: pointer;
                    }
                    button{
                        margin-top: 4%;
                        font-family: 'MuliBold', Avenir, Helvetica Neue, Helvetica, sans-serif;
                        font-weight: bold;
                        box-sizing: border-box;
                        padding: 1rem 1rem;
                        font-size: 1vw;
                        border-radius: 5px;
                        transition-duration: 0.4s;
                        color:white;
                        background-color: #DC4040;
                        border: 0;
                        position: relative;
                        //width: 100%;
                    }
                }
                
            }
        }
}