.user{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    .userHeader{
        width: 100%;
        overflow: hidden;
        -webkit-backface-visibility: hidden;
        -webkit-transition: 1s ease-in-out;
        .navBarWrapper {
            background-size: cover;
            overflow: hidden;
            // background-color: rgb(255, 0, 0);
            margin-right: auto;
            margin-left: auto;
            margin-top: 5%;       
            margin-bottom: auto;         
            width: 100%;
            height: 95%;
            .navBar{
                margin-top: 5%;
                right: 0;
                left: 0;
                margin-right: auto;
                margin-left: auto;
                display: block;
                width: 35%;
                display: flex;
                flex-direction: row;
                color: black;
                text-align: center;
                justify-content: space-around;
                .container{

                    .bold{
                        line-height: 40%;
                        font-family: Helvetica-bold;
                        font-size: 1.2vw;
                    }
                    .simple{
                        line-height: 40%;
                        font-size: 1.2vw;
                    }
                }
               
                .container:hover{
                    cursor: pointer;
                }
            }
        }   
    }
    .userBody{
        height: 80%;
        .wallet{
            .container{
                overflow-y: scroll;
                padding: 0 15%;
                margin-bottom: 5%;
                .title{
                    padding: 0 1%;
                    border-bottom-color: black;
                    border-bottom-style: solid;
                    border-bottom-width: 1px;
                    font-size: 1.5vw;
                }
                .content{
                    font-size: 1vw;
                    padding: 0 2%;
                }
            }
        }
        .marketPlace{
            .container{
                padding: 0 15%;
                margin-bottom: 5%;
               
                .title{
                    padding: 0 1%;
                    border-bottom-color: black;
                    border-bottom-style: solid;
                    border-bottom-width: 1px;
                    font-size: 1.5vw;
                }
                .content{
                    font-size: 1vw;
                    padding: 0 2%;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    .contractCard{
                        box-shadow: 0px 2px 5px rgba(71, 71, 71, 0.541);
                        border-radius: 15px;
                        width: 45%;
                        margin-top: 5%;
                        padding: 3% 0;
                        display: flex;
                        flex-direction: column;
                        // align-items: center;
                        .information{
                            display: flex;
                            flex-direction: row;
                            justify-content: space-around;
                        }
                        .buttonContainer{
                            width: 30%;
                            margin-left: 8%;
                            box-shadow: 0px 2px 5px rgba(71, 71, 71, 0.541);
                            background-color: rgba(37, 124, 51, 0.671);
                            border: none;
                            border-radius: 15px;
                            font-size: 1vw;
                            padding: 2% 2%;
                            color: white;
                        }
                    }
                }
            }
        }
    }
}